@use "@/shared/lib/styles/mixin.scss" as *;


.design_studio_approach {
    padding-block: 80px;
    background: #F9F7F5;

    &__container {
        display: grid;
        gap: 40px;
        grid-template-columns: 0.42202fr 1fr;

        @include tablet {
            grid-template-columns: 1fr;
        }
    }

    &__subtitle {
        color: #5E5033;
        font-family: var(--font-cabinet-grotesk), sans-serif;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.3334;
        letter-spacing: 0.75px;
    }

    &__title {
        color: #121110;
        font-family: var(--font-gambetta), serif;
        font-size: 44px;
        font-weight: 400;
        line-height: 1.1364;
        letter-spacing: -1.5px;
        margin-bottom: 8px;
    }

    &__description {
        color: #605B56;
        font-family: var(--font-cabinet-grotesk), sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5715;
    }

    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 8px;

        @include mobile {
            grid-template-columns: 1fr;
        }
    }

    &__item {
        padding: 24px;
        border-radius: 2px;
        border: 1px solid #E8E4DE;
        background: #FFF;
    }

    &__item_title {
        color: #121110;
        font-family: var(--font-gambetta), serif;
        font-size: 22px;
        font-weight: 400;
        line-height: 1.3637;
        letter-spacing: -0.25px;
        margin-bottom: 10px;
    }

    &__item_description {
        color: #605B56;
        font-family: var(--font-cabinet-grotesk), sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5715;
    }
}